* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body,
#slider,
.wrap,
.slide-content {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 17px;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.slide1 {
  background: url("../img/img1.jpg");
}

.slide2 {
  background-image: url("../img/img2.jpg");
}

.slide3 {
  background-image: url("../img/img3.jpg");
}

.slide1,
.slide2,
.slide3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: #fff;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 0 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: auto;
}

/* ============================== HEADINGS ============================== */
h1 {
  font-size: 2.32em;
  font-weight: 300;
  margin: 30px 30px;
}

h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-transform: uppercase;
}

h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h1,
h2 {
  color: #333;
  letter-spacing: 3px;
  line-height: 1em;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #888;
  line-height: 1.4em;
  padding: 0 20px 30px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ============================== SECONDARY NAVIGATION ============================== */
.secondary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  padding: 0.8em 1em;
  list-style: none;
  color: #eee;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.secondary-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-menu li:hover {
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.secondary-menu li:not(.email):not(:last-child) {
  margin-right: 25px;
}

.email {
  margin-right: auto;
}

.number,
.email {
  font-size: 0.9em;
}

.number i,
.email i {
  margin-right: 2px;
}

.number span {
  margin-right: 15px;
}

/* ============================== MAIN MENU============================== */
.main-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #888;
  padding: 2em 1em;
  -webkit-box-shadow: 3px 0 5px 6px #ccc;
  box-shadow: 0 2px 6px #666;
}

.logo {
  margin-right: auto;
  list-style: none;
}

.mobile-menu {
  position: relative;
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #eee;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

nav ul li:not(:last-child) {
  margin-right: 25px;
}

nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #eee;
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #eee;
  z-index: 1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 84px;
  background: #666;
  padding: 20px 40px;
  border-top: 2px solid #eee;
  visibility: hidden;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.hover:hover .sub-menu {
  visibility: visible;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  z-index: 999;
}

.sub-item {
  width: 100%;
}

.sub-menu .sub-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 15px;
}

#cottages p {
  text-align: left;
}

/* ============================= SLIDER ================================== */
/* ============================== SHOWCASE ============================== */
#showcase {
  background: url("../img/oakcottage/5U3A4660.jpg") no-repeat center center;
  background-size: cover;
  height: 60vh;
}

/* ============================== COTTAGES ============================== */
#cottages p {
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: 300;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-content {
  width: 100%;
  margin-top: -5px;
  color: #888;
  border: 1px solid #d4d4d4;
}

.text-content h3 {
  border: 1px solid #d4d4d4;
  padding: 10px 10px;
  font-weight: 400;
}

.text-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 1px solid #d4d4d4;
  list-style: none;
}

.text-content li {
  font-size: 13px;
}

.text-content i {
  margin-right: 5px;
}

.cottage-heading {
  position: absolute;
  margin-top: 0;
  padding: 10px 40px;
  font-size: 30px;
  font-weight: 500;
  color: #333;
}

/* ============================== QUESTIONS BANNER ============================== */
#wrapper-banner {
  background-color: #888;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-heading {
  color: #eee !important;
  font-weight: 300;
}

.banner-heading .fa-map-marker-alt {
  margin-left: 10px;
}

/* ============================== CONTACT FORM ============================== */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

form input,
form textarea {
  border: 1px solid #333;
  padding: 15px 10px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

form input textarea,
form textarea textarea {
  color: #888;
}

form .button {
  width: 30%;
  background-color: #888;
  color: #eee;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* ============================== CONTACT ============================== */
#contact {
  margin-top: 30px;
}

.contact-content {
  width: 100%;
  height: auto;
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.contact-details {
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-details li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888;
  font-weight: 300;
}

.contact-details i {
  position: relative;
  font-size: 50px;
  margin-right: 10px;
  color: #888;
}

/* ============================== FOOTER ============================== */
footer {
  background-color: #888;
  padding: 20px;
  margin-top: 30px;
  color: #eee !important;
  font-size: 0.8em;
  font-weight: 300;
}

#main-footer p {
  padding: 0;
  color: #eee;
}

/* ============================== OAK COTTAGE ============================== */
#oakcottage-showcase {
  background: url("../img/oakcottage/5U3A4686.jpg") no-repeat center center;
  background-size: cover;
  height: 60vh;
}

.cottage-dis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cottage-dis .img-1,
.cottage-dis .img-2,
.cottage-dis .img-3,
.cottage-dis .img-4 {
  position: relative;
  width: 25%;
  padding: 0 2px;
}

.book-btn {
  background: #888;
  width: 20.5%;
  padding: 25px;
  text-align: center;
}

.book-btn a {
  color: #eee;
  text-decoration: none;
}

/* ============================== PROPERTY STYLES ============================== */
.property-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.property-container .headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  color: #888;
}

.property-container .headline li:not(:first-child) {
  margin-left: 15px;
}

.property-container i {
  font-size: 22px;
  color: #888;
}

.property-container span {
  margin-left: 10px;
}

.well {
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border: 1px solid #898989;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px;
  color: #888;
}

.key-features li:last-child {
  margin-bottom: 0;
}

.alt {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600;
}

.accordian {
  width: 48%;
  display: inline-block;
}

.key-features {
  padding-left: 15px;
  display: inline-block;
  vertical-align: top;
}

.key-features li {
  font-size: 0.9em;
  margin: 10px 0;
}

.oak-description {
  margin-top: 30px;
}

h1.main-heading {
  margin: 30px 0 0 0;
}

h1.main-heading span {
  margin-left: 15px;
  color: #888;
}

.main-heading {
  border-left: 2px solid #888;
}

/* ============================== COTTAGE PRICE AND AVAILABILITY PAGE STYLES ============================== */
.avail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.avail-content h4 {
  font-size: 1.4em;
  color: #888;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.avail-content p {
  padding: 0;
  margin-top: 10px;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ============================== WILLOW COTTAGE STYLES ============================== */
#willowcottage-showcase {
  background: url(../img/willow/willow-bg.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;
}

.facilities {
  margin-bottom: 30px;
  margin-left: 25px;
  padding: 10px;
  color: #888;
  font-weight: 300;
}

.willow-description,
.milestone-description,
.maple-description,
.sycamore-description,
.pepper-description {
  margin-top: 30px;
}

#accomodation .well {
  border: none;
  overflow: none;
}

#accomodation .key-features {
  padding-left: 20px;
}

.break {
  margin-top: 30px;
}

.accom-heading {
  display: inline-block;
}

.photo-col {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

/* ============================== ATTRACTIONS STYLES ============================= */
#attractions-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.attractions-header {
  font-weight: 500;
  text-transform: uppercase;
}

.silverstone,
.miltonkeynes,
.stowe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.silverstone-content,
.miltonkeynes-content,
.stowe-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #d4d4d4;
}

.silverstone-copy,
.miltonkeynes-copy,
.stowe-copy {
  padding: 10px;
}

#attractions-container span {
  color: #333;
  font-weight: 400;
}

/* ============================== CONTACT STYLES ============================= */
#contact-showcase {
  background: url(../img/willow/willow-bg.jpg) no-repeat center;
  background-size: cover;
  height: 40vh;
}

.main-contact {
  margin: 30px 0;
}

/* ============================== RESPONSIVE STYLES ============================== */
@media (max-width: 992px) {
  .text-content li {
    font-size: 15px !important;
  }
  .contact-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .contact-content li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 25px;
  }
}

/* =============================== SECOND BREAK POINT 768PX ======================= */
@media (max-width: 768px) {
  .secondary-menu li {
    margin-bottom: 0;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 7%;
    right: 2%;
    list-style: none;
  }
  .mobile-menu i {
    color: #eee;
    font-size: 22px;
    cursor: pointer;
  }
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .main-menu .logo {
    margin: auto;
  }
  .main-navigation {
    height: auto;
  }
  nav {
    width: 100%;
    display: none;
  }
  .active {
    display: block;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 0;
    margin-top: 10px;
    overflow: hidden;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5em 0;
    margin-right: 0;
    border-bottom: 1px solid #eee;
  }
  nav ul li:hover {
    background-color: #666;
  }
  nav ul li:not(:last-child) {
    margin-right: 0;
  }
  nav ul li:first-child {
    border-top: 1px solid #eee;
  }
  .hover:hover .sub-menu {
    position: relative;
    height: auto;
  }
  .sub-menu {
    position: absolute;
    top: -10px;
    border-top: none;
  }
  .sub-menu .sub-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0;
  }
  h1.main-heading {
    margin-left: 10px;
  }
  /* ============================== RESPONSIVE COTTAGES ============================== */
  .cottages-dis {
    padding: 5px 25px;
  }
  #contact {
    margin-top: 30px;
  }
  form {
    padding: 0 10px;
  }
  .property-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .text-content {
    margin-bottom: 0;
  }
  #wrapper-banner {
    margin-top: 0;
  }
}

/* =========================== MEDIA QUERY 580PX =================================*/
@media (max-width: 580px) {
  .secondary-menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 18px;
  }
  .secondary-menu span {
    display: none !important;
  }
  .number i,
  .email i {
    margin-right: 0;
  }
  .email {
    margin-right: 0;
  }
  h1.main-heading span {
    font-size: 0.8em;
  }
  h1.main-heading {
    margin-left: 10px;
  }
  .property-container .headline {
    font-size: 0.8em;
  }
}

/* ============================ RESPONSIVE ATTRACTIONS =========================== */
/*# sourceMappingURL=style.css.map */